/* 登录区的外层 */
#login{
    background:rgb(242, 242, 242);
}
/* 左边登录注册区 */
#login .login_l .login_l_p1{
    font-size: 12px;
    color:#666;
    line-height: 30px;
}
#login .login_l .login_l_p2{
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
}
#login .login_l .login_l_p2>a{
    color:rgb(230, 0, 0);
    margin:0 10px;
}
#login .login_l .login_l_p2>a:hover{
    text-decoration: underline;
}
/* 右边个人区 */
#login .login_r{
    line-height: 30px;
    font-size: 12px;
}
#login .login_r>li{
    float: left;
    margin-left: 20px;
    padding:0 10px;
}
#login .login_r>li>a{
    color:#333;
}
#login .login_r>li>a:hover{
    color:rgb(230, 0, 0);
    text-decoration: underline;
}
#login .login_r>li>i{
    color:rgb(189, 189, 189);
    font-size: 12px;
}
/* 我的账户、手机中图共同处 */
#login .login_r .login_r_li{
    position: relative;
}
#login .login_r .login_r_li:hover{
    background: #fff;
    border:1px solid rgb(218, 218, 218);
    border-bottom: 0 none;
    padding:0 9px;
    line-height: 28px;
}
#login .login_r .login_r_li:hover>i:before{
    color:rgb(233, 31, 31);
    display: inline-block;
    transform: rotate(180deg);
}
#login .login_r .login_r_li:hover>div{
    display: block;
}
#login .login_r .login_r_li>div:before{
    content:"";
    background: #fff;
    position:absolute;
    top:-2px;
    height: 3px;
    width: 83px;
}
/* 我的账户 */
#login .login_r .login_r_li3 .login_r_li3_d{
    width: 160px;
    background: #fff;
    position: absolute;
    border:1px solid rgb(218, 218, 218);
    left:-1px;
    top:28px;
    display: none;
    box-sizing: border-box;
    padding:0 8px;
    z-index: 2;
}
#login .login_r .login_r_li3 .login_r_li3_d:before{
    left:0px;
}
#login .login_r .login_r_li3 .login_r_li3_d>div>a{
    display: block;
    margin-bottom:4px;
    color:rgb(102, 102, 102);
}
#login .login_r .login_r_li3 .login_r_li3_d>div>a:hover{
    text-decoration: underline;
}
#login .login_r .login_r_li3 .login_r_li3_d .login_r_li3_d1{
    width: 70px;
    margin-right: 5px;
}
/* 手机中图 */
#login .login_r .login_r_li5 .login_r_li5_d{
    width: 170px;
    background: #fff;
    position: absolute;
    border:1px solid rgb(218, 218, 218);
    right:-1px;
    top:28px;
    display: none;
    box-sizing: border-box;
    padding:0 8px;
    z-index: 2;
}
#login .login_r .login_r_li5 .login_r_li5_d:before{
    right:0px;
}
#login .login_r .login_r_li5 .login_r_li5_d>div{
    height: 80px;
    margin:5px 0;
    padding-left: 87px;
}
#login .login_r .login_r_li5 .login_r_li5_d>div>p{
    line-height: 14px;
    color:rgb(102, 102, 102);
}
#login .login_r .login_r_li5 .login_r_li5_d>div>p.login_r_li5_p1{
    color:rgb(230, 0, 0);
    line-height: 28px;
}
#login .login_r .login_r_li5 .login_r_li5_d .login_r_li5_d1{
    background: url(../img/01.weibo.jpg) left center no-repeat;
}
#login .login_r .login_r_li5 .login_r_li5_d .login_r_li5_d2{
    background: url(../img/02.weixin.jpg) left center no-repeat;
}
#login .login_r .login_r_li5 .login_r_li5_d .login_r_li5_d3{
    background: url(../img/03.iphone.jpg) left center no-repeat;
}
/* LOGO区域 */
#logo{
    background: rgb(255, 255, 255);
}
/* LOGO图标 */
#logo .logo_a1{
    display: block;
    margin:20px 70px 20px 0;
}
/* 中间的搜索区域 */
#logo .logo_d2{
    margin-top: 18px;
}
#logo .logo_d2>form{
    position: relative;
}
/* 输入框 */
#logo .logo_d2 .logo_i{
    width: 508px;
    height: 42px;
    border:2px solid rgb(230, 0, 0);
    font-size: 12px;
    color:rgb(102, 102, 102);
    padding-left: 10px;
    box-sizing: border-box;
}
/* 提交框 */
#logo .logo_d2 .logo_s{
    width:90px;
    height: 42px;
    box-sizing: border-box;
    background: rgb(230, 0, 0);
    font-size: 14px;
    color:#fff;
}
/* 下滑框 */
#logo .logo_d2 .logo_o{
    width: 82px;
    height: 38px;
    background: rgb(255, 255, 255);
    position:absolute;
    top:2px;
    left:423px;
    color:rgb(153, 153, 153);
    font-size: 12px;
    text-align: center;
    line-height: 38px;
    box-sizing: border-box;
    border-left: 1px solid rgb(219, 219, 219);
}
#logo .logo_d2 .logo_o:hover .logo_o1{
    display: block;
}
#logo .logo_d2 .logo_o>span{
    margin-right: 3px;
}
#logo .logo_d2 .logo_o>i{
    font-size: 12px;
}
#logo .logo_d2 .logo_o .logo_o1{
    box-sizing: border-box;
    width: 82px;
    border:1px solid rgb(219, 219, 219);
    border-top: 0 none;
    position:absolute;
    left:-1px;
    top:38px;
    background: white;
    display: none;
}
#logo .logo_d2 .logo_o .logo_o1>p{
    text-align: left;
    line-height: 24px;
    padding:0 8px;
}
#logo .logo_d2 .logo_o .logo_o1>p:hover{
    background: rgb(245, 245, 245);
    color:rgb(224, 38, 38);
}
#logo .logo_d2 .logo_o .logo_o1>p:first-child{
    background: rgb(245, 245, 245);
    color:rgb(224, 38, 38);
}
#logo .logo_d2 .logo_a2{
    font-size: 12px;
    color:rgb(230, 0, 0);
    margin-left: 13px;
}
#logo .logo_d2 .logo_a2:hover{
    text-decoration: underline;
}
/* 输入框下面的点击 */
#logo .logo_d2 .logo_d3>a{
    font-size: 12px;
    margin-right: 30px;
    line-height: 26px;
    color:rgb(153, 153, 153);
}
#logo .logo_d2 .logo_d3>a:hover{
    color:rgb(230, 0, 0);
}
/* 右边的轮播图 */
#logo .logo_r{
    margin:22px 20px 0 0;
}
#logo .logo_r>span{
    display: inline-block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    background: url(../img/04.png) -1px -27px no-repeat;
    vertical-align: middle;
}
#logo .logo_r .logo_a3{
    display: inline-block;
    width: 170px;
    height: 50px;
    vertical-align: middle;
}
/* 导航区域 */
#nav{
    background: rgb(255, 255, 255);
    border-bottom:3px solid rgb(230, 0, 0);
}
/* 左边的导航 */
#nav .nav_l{
    width: 200px;
    font-size: 16px;
    line-height: 40px;
    background: rgb(230, 0, 0);
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
}
#nav .nav_l>span{
    margin:0 50px 0 10px;
}
#nav .nav_l .nav_class{
    box-sizing: border-box;
    width: 200px;
    border:1px solid rgb(230, 0, 0);
    position:absolute;
    background: white;
    left:0px;
    top: 40px;
}
/* 左边导航分类区域共同样式 */
#nav .nav_l .nav_class>div{
    padding:0 10px 5px 10px;
    border-bottom:1px solid rgb(255, 211, 212);
    position: relative;
}
#nav .nav_l .nav_class>div:hover>p>i{
    color:rgb(240, 130, 0);
}
/* 隐藏的div */
#nav .nav_l .nav_class>div>div{
    width: 760px;
    box-sizing: border-box;
    padding:15px;
    border:3px solid rgb(230, 0, 0);
    display: none;
    background: white;
    z-index: 99;
}
/* ====================== */
#nav .nav_l .nav_class>a{
    color:rgb(102, 102, 102);
    font-size: 12px;
    line-height: 22px;
}
#nav .nav_l .nav_class>a:hover{
    text-decoration: underline;
}
/* =============== */
#nav .nav_l .nav_class>div>p{
    line-height: 38px;
}
#nav .nav_l .nav_class>div>p>a{
    color:rgb(230, 0, 0);
}
#nav .nav_l .nav_class>div>p>a:hover{
    text-decoration: underline;
}
#nav .nav_l .nav_class>div>p>i{
    color:rgb(102, 126, 181);
    font-size: 12px;
}
/* ================== */
#nav .nav_l .nav_class>div>a{
    margin-right: 17px;
    font-size: 12px;
    color:#666;
    float: left;
    line-height: 25px;
}
#nav .nav_l .nav_class>div>a:hover{
    color:rgb(230, 0, 0);
}
/* ================= */
/* 取消最后一个div的下边框 */
#nav .nav_l .nav_class>div.nav_wj{
    border-bottom:0 none;
}
/* =============== */
#nav .nav_l .nav_class>div:hover{
    border:2px solid rgb(230, 0, 0);
    padding:0px 8px 4px;
    margin-top: -2px;
}
/* ========================================= */
/* 文学类的隐藏div */
#nav .nav_l .nav_class .nav_wx:hover .nav_wxshow{
    display: block;
}
#nav .nav_l .nav_class .nav_wx .nav_wxshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-1px;
}
#nav .nav_l .nav_class .nav_wx .nav_wxshow:before{
    content:"";
    width: 4px;
    height: 112.5px;
    background: white;
    position: absolute;
    top:0.5px;
    left:-4px;
}
/* 社科类的隐藏div */
#nav .nav_l .nav_class .nav_sk:hover .nav_skshow{
    display: block;
}
#nav .nav_l .nav_class .nav_sk .nav_skshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-119px;
}
#nav .nav_l .nav_class .nav_sk .nav_skshow:before{
    content:"";
    width: 4px;
    height: 140px;
    background: white;
    position: absolute;
    top:116.5px;
    left:-4px;
}
/* 少儿类的隐藏div */
#nav .nav_l .nav_class .nav_se:hover .nav_seshow{
    display: block;
}
#nav .nav_l .nav_class .nav_se .nav_seshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-13px;
}
#nav .nav_l .nav_class .nav_se .nav_seshow:before{
    content:"";
    width: 4px;
    height: 114.5px;
    background: white;
    position: absolute;
    top:10.5px;
    left:-4px;
}
/* 艺术类的隐藏div */
#nav .nav_l .nav_class .nav_ys:hover .nav_ysshow{
    display: block;
}
#nav .nav_l .nav_class .nav_ys .nav_ysshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-60px;
}
#nav .nav_l .nav_class .nav_ys .nav_ysshow:before{
    content:"";
    width: 4px;
    height: 90.5px;
    background: white;
    position: absolute;
    top:57.5px;
    left:-4px;
}
/* 生活类的隐藏div */
#nav .nav_l .nav_class .nav_sh:hover .nav_shshow{
    display: block;
}
#nav .nav_l .nav_class .nav_sh .nav_shshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-28px;
}
#nav .nav_l .nav_class .nav_sh .nav_shshow:before{
    content:"";
    width: 4px;
    height: 90px;
    background: white;
    position: absolute;
    top:25.5px;
    left:-4px;
}
/* 文教类的隐藏div */
#nav .nav_l .nav_class .nav_wj:hover .nav_wjshow{
    display: block;
}
#nav .nav_l .nav_class .nav_wj .nav_wjshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-78px;
}
#nav .nav_l .nav_class .nav_wj .nav_wjshow:before{
    content:"";
    width: 4px;
    height: 90.5px;
    background: white;
    position: absolute;
    top:75.5px;
    left:-4px;
}
/* ======================================== */
/* 第一个、第二个、第三个 */
#nav .nav_l .nav_class>div>div>div .lef>a{
    font-size: 10px;
    color:rgb(230, 0, 0);
    font-weight: 600;
}
#nav .nav_l .nav_class>div>div>div .righ>a{
    font-size: 12px;
    color:rgb(102, 102, 102);
    margin:0 20px;
}
/* ========== */
/* 隐藏div里的最大儿子 */
#nav .nav_l .nav_class>div>div>div{
    border-bottom:1px solid rgb(240, 240, 240);
}
#nav .nav_l .nav_class>div>div>div:last-child{
    border-bottom:0 none;
}
/* =========== */
#nav .nav_l .nav_class>div>div>div>div:first-child{
    width: 70px;
}
#nav .nav_l .nav_class>div>div>div>div:first-child>a{
    float: left;
    line-height: 23px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child{
    width: 654px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child>a{
    float: left;
    line-height: 23px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child>a:hover{
    color:rgb(230, 0, 0);
}
/* 右边的导航 */
#nav .nav_r>li{
    float: left;
    margin:0 25px;
}
#nav .nav_r>li:first-child>a{
    color:rgb(230, 0, 0);
}
#nav .nav_r>li>a{
    vertical-align: middle;
    color:rgb(51, 51, 51);
    line-height: 40px;
    font-weight: 600;
    font-size: 18px;
}
#nav .nav_r>li>a:hover{
    color:rgb(230, 0, 0);
}
#nav .nav_r>li>a>img{
    margin-right: 5px;
}
/* 轮播图区域 */
#carousel{
    background: #fff;
    padding:10px 0;
}
/* 左边的区域 */
#carousel .carousel_l{
    width: 200px;
}
#carousel .carousel_l>div{
    margin-top: 678px;
}
#carousel .carousel_l>div>a{
    display: block;
}
/* 右边的区域 */
#carousel .carousel_r{
    width: 990px;
}
/* banner区域 */
#carousel .carousel_r .banner{
    width: 990px;
    height: 360px;
    position: relative;
}
#carousel .carousel_r .banner>ul{
    position: relative;
    height: 360px;
}
#carousel .carousel_r .banner>ul>li{
    position: absolute;
    left:0;
    top:0;
}
/* 左右按键 */
#carousel .carousel_r .banner .banner_btn{  
    width: 990px;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}
#carousel .carousel_r .banner .banner_btn>span{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color:rgb(255, 255, 255);
    background: rgba(158, 142, 113,0.7);
    display: none;
}
#carousel .carousel_r .banner:hover .banner_btn>span{
    display: block;
}
/* 下面的显示栏 */
#carousel .carousel_r .banner .banner_show{
    position: absolute;
    bottom:0;
}
#carousel .carousel_r .banner .banner_show>span{
    float: left;
    width: 165px;
    height: 34px;
    line-height: 34px;
    text-align:center;
    font-size: 12px;
    color:white;
    background: rgba(49, 41, 36,0.8);
}
/* 热书区域 */
#carousel .carousel_r .hotbook{
    width: 750px;
    margin-top: 10px;
    padding:10px;
    background: rgb(239, 242, 250);
}
/* 导航区域 */
#carousel .carousel_r .hotbook .hot_ban>li{
    float: left;
    padding:10px 25px;
    font-size: 16px;
}
#carousel .carousel_r .hotbook .hot_ban>li:hover{
    background: white;
    border-top: 2px solid rgb(230, 0, 0);
    padding-top: 8px;
    color:rgb(230, 0, 0);
    font-weight: 600;
}
/* ===================== */
/* 显示区域 */
#carousel .carousel_r .hotbook .hot_show{
    background: white;
}
/* 上部分左边 */
#carousel .carousel_r .hotbook .hot_show .hot_show_t{
    border-bottom:1px solid  rgb(238, 241, 249);
    padding:10px 30px;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_t>a>img{
    width: 160px;
    height: 160px;
}
/* 上部分右边 */
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div{
    width: 510px;
}
/* 标题 */
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>a{
    display: block;
    font-size: 16px;
    color:black;
    font-weight: 600;
    line-height: 40px;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>a:hover{
    color:rgb(230, 0, 0);
}
/* 价格 */
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>p{
    font-size: 18px;
    line-height: 22px;
    color:rgb(153, 153, 166);
}
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>p>span{
    margin-right: 15px;
    text-decoration: line-through;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>p>span:first-child{
    text-decoration: none;
    color:rgb(230, 0, 0);
}
/* 描述介绍 */
#carousel .carousel_r .hotbook .hot_show .hot_show_t>div>div{
    font-size: 12px;
    color:#666;
    line-height: 24px;
    text-indent:2em;
}
/* 下部分 */
/* 图片部分 */
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li{
    float: left;
    margin:10px 14px 5px 10px;
    width: 158px;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>a{
    display:block;
    font-size: 12px;
    color:rgb(51, 51, 51);
    line-height: 18px;
    margin-top:5px;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>a:hover{
    color:rgb(230, 0, 0);
}
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>a>img{
    width:158px;
    height: 158px;
    display:block;
}
/* 价格 */
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>p{
    margin-bottom:3px;
}
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>p>span:first-child{
    font-size: 16px;
    margin-right: 5px;
    color:rgb(230, 0, 0);
}
#carousel .carousel_r .hotbook .hot_show .hot_show_b>li>p>span:last-child{
    font-size: 12px;
    color:rgb(153, 153, 153);
    text-decoration: line-through;
}
/* ======================= */
/* 畅销榜区域 */
#carousel .carousel_r .sale{
    width: 229px;
    margin-top: 10px;
    background:rgb(240, 240, 240);
}
/* 标题 */
#carousel .carousel_r .sale>h4{
    line-height: 32px;
    background:white;
}
#carousel .carousel_r .sale>h4>span{
    font-size: 16px;
    color:rgb(230, 0, 0);
}
#carousel .carousel_r .sale>h4>a{
    font-size: 12px;
    color:rgb(153, 153, 153);
}
#carousel .carousel_r .sale>h4>a:hover{
    text-decoration: underline;
}
/* 导航标题 */
#carousel .carousel_r .sale .sale_ban{
    background: white;
}
#carousel .carousel_r .sale .sale_ban>li{
    float:left;
    font-size: 12px;
}
#carousel .carousel_r .sale .sale_ban>li>a{
    padding:8px 16px;
    display:block;
    color:rgb(102, 102, 102);
    border:1px solid rgb(230, 230, 230);
    border-left:0 none;
}
#carousel .carousel_r .sale .sale_ban>li>a:hover{
    border-top:2px solid rgb(230, 0, 0);
    border-bottom:0 none;
    padding-top:7px;
    padding-bottom:9px;
}
#carousel .carousel_r .sale .sale_ban>li:first-child>a{
    border-left:1px solid rgb(230, 230, 230);
}
/* 列表内容 */
#carousel .carousel_r .sale .sale_content{
    background:white;
    width: 229px;
}
#carousel .carousel_r .sale .sale_content>div{
    padding:8px;
    border:1px solid rgb(240, 240, 240);
    border-top: 0 none;
    font-size: 12px;
}
#carousel .carousel_r .sale .sale_content>div>span{
    margin-right: 15px;
}
/* 图片点击 */
#carousel .carousel_r .sale .sale_content>div>div.sc_more{
    display:inline-block;
    vertical-align: top;
}
#carousel .carousel_r .sale .sale_content>div>div.sc_more>a>img{
    width: 85px;
    height: 85px;
}
/* 图片右边的样式 */
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div{
    width: 93px;
}
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div>a{
    font-size: 12px;
    color:rgb(51, 51, 51);
    line-height: 23px;
    display:block;
}
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div>a:hover{
    color:rgb(230, 0, 0);
}
/* 价格 */
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div>p>span{
    font-size: 10px;
}
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div>p>span:first-child{
    color:rgb(230, 0, 0);
}
#carousel .carousel_r .sale .sale_content>div>div.sc_more>div>p>span:last-child{
    color:rgb(215, 181, 153);
    text-decoration:line-through;
}
/* ===================== */
/* 显示更多 */
#carousel .carousel_r .sale>a{
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 19px;
}
#carousel .carousel_r .sale>a:hover{
    text-decoration:underline;
}
/* 三张小图片 */
#pic{
    background:white;
    margin:10px 0;
}
#pic .pic>a{
    float: left;
}
#pic .pic>a:first-child{
    margin-right:10.5px;
}
#pic .pic>a:last-child{
    margin-left:10.5px;
}
/* =================== */
/* 淘书团热销 */
#team{
    background:white;
}
/* 标题 */
#team .team>a{
    display:block;
    line-height: 58px;
    font-size: 16px;
    color:rgb(51, 51, 51);
    font-weight: 600;
    border-bottom:3px solid rgb(230, 0, 0);
    font-style: oblique;
}
#team .team>a>span:first-child{
    font-size: 20px;
    color:rgb(230, 0, 0);
}
#team .team>a>span:last-child{
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    color:rgb(102, 102, 102);
}
#team .team>a:hover>span:last-child{
    text-decoration:underline;
}
/* 内容区域 */
#team .team .team_content{
    margin-top:18px;
}
#team .team .team_content>ul>li{
    float: left;
    border:1px solid rgb(230, 230, 230);
    margin:0 8px;
    background:rgb(237, 248, 255);
    padding-bottom:8px;
}
#team .team .team_content>ul>li:first-child{
    margin-left: 0;
}
#team .team .team_content>ul>li:last-child{
    margin-right: 0;
}
/* 图片 */
#team .team .team_content>ul>li>a{
    display:block;
}
#team .team .team_content>ul>li>a>img{
    display:block;
    width:285px;
}
/* 详情 */
#team .team .team_content>ul>li>div{
    width: 285px;
    box-sizing: border-box;
    padding:0 15px;
}
#team .team .team_content>ul>li>div>a{
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 20px;
}
#team .team .team_content>ul>li>div>a:hover{
    color:rgb(230, 0, 0);
}
/* 价格 */
#team .team .team_content>ul>li>div>p{
    font-size: 14px;
    color:rgb(230, 0, 0);
}
#team .team .team_content>ul>li>div>p>span{
    font-size: 12px;
    text-decoration:line-through;
    color:rgb(153, 153, 153);
}
#team .team .team_content>ul>li>div>p>span:first-child{
    font-size: 20px;
    text-decoration:none;
    color:rgb(230, 0, 0);
    margin-right:5px;
}
#team .team .team_content>ul>li>div>p>span:last-child{
    padding:0 5px;
    color:white;
    background:rgb(91, 215, 255);
    margin-top: 10px;
    text-decoration:none;
}
/* 包邮区 */
#mail{
    background:white;
}
/* 标题 */
#mail .mail>a{
    display:block;
    line-height: 58px;
    font-size: 16px;
    color:rgb(51, 51, 51);
    font-weight: 600;
    font-style: oblique;
    background:rgb(245, 245, 245);
    margin-top:20px;
}
#mail .mail>a>span:first-child{
    font-size: 20px;
    color:rgb(230, 0, 0);
}
#mail .mail>a>span:last-child{
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    color:rgb(102, 102, 102);
}
#mail .mail>a:hover>span:last-child{
    text-decoration:underline;
}
/* 内容区域 */
#mail .mail>ul{
    margin-top:10px;
}
#mail .mail>ul>li{
    width:240px;
    height:223px;
    box-sizing:border-box;
    float:left;
    border-top:3px solid rgb(230, 230, 230);
    border-left:1px solid rgb(230, 230, 230);
    border-bottom:1px solid rgb(230, 230, 230);
    position: relative;
    padding:10px;
}
#mail .mail>ul>li:last-child{
    border-right:1px solid rgb(230, 230, 230);
}
#mail .mail>ul>li:hover{
    border-top:3px solid rgb(230, 0, 0);
}
/* 小标题 */
#mail .mail>ul>li>a{
    display:block;
    font-size: 14px;
    color:#333;
}
#mail .mail>ul>li>a:hover{
    color:rgb(230, 0, 0);
}
#mail .mail>ul>li>span{
    font-size: 13px;
    text-decoration:line-through;
    color:rgb(153, 153, 153);
}
/* 小图片 */
#mail .mail>ul>li>img{
    display:block;
    position:absolute;
    width:60px;
    height:60px;
    top:57px;
    left:13px;
}
#mail .mail>ul>li>a:last-child{
    width:158px;
    height:158px;
    position:absolute;
    right:0;
    bottom:10px;
}
#mail .mail>ul>li>a:last-child>img{
    width:110px;
    height:158px;
    margin-left:25px;
    transition: all 0.5s;
}
#mail .mail>ul>li>a:last-child>img:hover{
    transform: translate(-10px);
}
/* ========================== */
/* 文学图书区域 */
#wxbook{
    background:white;
}
/* 标题导航区 */
#wxbook .wxbook .wxbook_ban{
    background:rgb(245, 245, 245);
    margin-top:20px;
}
/* 标题 */
#wxbook .wxbook .wxbook_ban>a{
    box-sizing: border-box;
    width: 210px;
    display: block;
    line-height: 55px;
    background: rgb(0, 182, 240);
    font-size: 22px;
    color:white;
    font-weight: 900;
    padding-left: 20px;
}
/* 导航区 */
#wxbook .wxbook .wxbook_ban>ul>li{
    float:left;
    padding:0 22px;
}
#wxbook .wxbook .wxbook_ban>ul>li>a{
    font-size: 15px;
    display: block;
    color:rgb(51, 51, 51);
    padding-top: 18px;
}
#wxbook .wxbook .wxbook_ban>ul>li:hover>a{
    border-top: 3px solid rgb(0, 182, 240);
    color:rgb(0, 182, 240);
    padding-top: 15px;
}
/* 内容区域 */
/* 左边的内容区域 */
#wxbook .wxbook .wxbook_content{
    margin-top: 10px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_l{
    box-sizing: border-box;
    width: 210px;
    background:rgb(189, 238, 254);
}
#wxbook .wxbook .wxbook_content .wxbook_content_l>a{
    display: block;
}
#wxbook .wxbook .wxbook_content .wxbook_content_l>a>img{
    width: 210px;
    height: 335px;
}
/* 文学排行榜 */
#wxbook .wxbook .wxbook_content .wxbook_content_l>div{
    padding:15px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_l>div>p{
    font-size: 14px;
    color:rgb(61, 142, 219);
    line-height: 32px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_l>div>a{
    display: block;
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 25px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_l>div>a:hover{
    color:rgb(7, 161, 210);
}
/* 中间的内容 */
#wxbook .wxbook .wxbook_content .wxbook_content_c{
    width: 740px;
    box-sizing: border-box;
    margin-left: 10px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li{
    float: left;
    width: 185px;
    padding-bottom:20px;
    margin-top:10px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>a{
    display: block;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>a>img{
    width: 115px;
    height: 158px;
    margin-left: 30px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>a:first-child+a{
    font-size: 12px;
    padding-left: 28px;
    color:rgb(51, 51, 51);
    line-height: 26px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>a:first-child+a:hover{
    color:rgb(230, 0, 0);
}
/* 作者 */
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>p{
    font-size: 12px;
    color:#666;
    padding-left: 28px;
    line-height: 20px;
}
/* 价格 */
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>div{
    padding-left: 28px;
    line-height: 27px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>div>span:first-child{
    font-size: 15px;
    color:rgb(230, 0, 0);
    margin-right: 5px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_c>li>div>span:last-child{
    font-size: 12px;
    color:rgb(153, 153, 153);
    text-decoration: line-through;
}
/* 右边的内容 */
#wxbook .wxbook .wxbook_content .wxbook_content_r{
    width: 230px;
    box-sizing: border-box;
}
#wxbook .wxbook .wxbook_content .wxbook_content_r .wxbook_content_r1>a{
    display:block;
    border:1px solid rgb(230, 230, 230);
    border-bottom:0 none;
    color:rgb(51, 51, 51);
    line-height: 32px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_r .wxbook_content_r1>a:last-child{
    border-bottom:1px solid rgb(230, 230, 230);
}
#wxbook .wxbook .wxbook_content .wxbook_content_r .wxbook_content_r1>a>img{
    width: 228px;
    height: 90px;
    display: block;
}
/* 下面的图片 */
#wxbook .wxbook .wxbook_content .wxbook_content_r>a{
    display: block;
    margin-top: 10px;
}
#wxbook .wxbook .wxbook_content .wxbook_content_r>a>img{
    width: 230px;
    height: 190px;
}
/* ============================= */
/* ========================== */
/* 社科图书区域 */
#skbook{
    background:white;
}
/* 标题导航区 */
#skbook .skbook .skbook_ban{
    background:rgb(245, 245, 245);
    margin-top:20px;
}
/* 标题 */
#skbook .skbook .skbook_ban>a{
    box-sizing: border-box;
    width: 210px;
    display: block;
    line-height: 55px;
    background: rgb(177, 127, 74);
    font-size: 22px;
    color:white;
    font-weight: 900;
    padding-left: 20px;
}
/* 导航区 */
#skbook .skbook .skbook_ban>ul>li{
    float:left;
    padding:0 22px;
}
#skbook .skbook .skbook_ban>ul>li>a{
    font-size: 15px;
    display: block;
    color:rgb(51, 51, 51);
    padding-top: 18px;
}
#skbook .skbook .skbook_ban>ul>li:hover>a{
    border-top: 3px solid rgb(177, 127, 74);
    color:rgb(177, 127, 74);
    padding-top: 15px;
}
/* 内容区域 */
/* 左边的内容区域 */
#skbook .skbook .skbook_content{
    margin-top: 10px;
}
#skbook .skbook .skbook_content .skbook_content_l{
    box-sizing: border-box;
    width: 210px;
    background:rgb(255, 235, 211);
}
#skbook .skbook .skbook_content .skbook_content_l>a{
    display: block;
}
#skbook .skbook .skbook_content .skbook_content_l>a>img{
    width: 210px;
    height: 335px;
}
/* 历史畅销榜 */
#skbook .skbook .skbook_content .skbook_content_l>div{
    padding:15px;
}
#skbook .skbook .skbook_content .skbook_content_l>div>p{
    font-size: 14px;
    color:rgb(205, 144, 105);
    line-height: 32px;
}
#skbook .skbook .skbook_content .skbook_content_l>div>a{
    display: block;
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 25px;
}
#skbook .skbook .skbook_content .skbook_content_l>div>a:hover{
    color:rgb(205, 144, 105);
}
/* 中间的内容 */
#skbook .skbook .skbook_content .skbook_content_c{
    width: 740px;
    box-sizing: border-box;
    margin-left: 10px;
}
#skbook .skbook .skbook_content .skbook_content_c>li{
    float: left;
    width: 185px;
    padding-bottom:20px;
    margin-top:10px;
}
#skbook .skbook .skbook_content .skbook_content_c>li>a{
    display: block;
}
#skbook .skbook .skbook_content .skbook_content_c>li>a>img{
    width: 115px;
    height: 158px;
    margin-left: 30px;
}
#skbook .skbook .skbook_content .skbook_content_c>li>a:first-child+a{
    font-size: 12px;
    padding-left: 28px;
    color:rgb(51, 51, 51);
    line-height: 26px;
}
#skbook .skbook .skbook_content .skbook_content_c>li>a:first-child+a:hover{
    color:rgb(230, 0, 0);
}
/* 作者 */
#skbook .skbook .skbook_content .skbook_content_c>li>p{
    font-size: 12px;
    color:#666;
    padding-left: 28px;
    line-height: 20px;
}
/* 价格 */
#skbook .skbook .skbook_content .skbook_content_c>li>div{
    padding-left: 28px;
    line-height: 27px;
}
#skbook .skbook .skbook_content .skbook_content_c>li>div>span:first-child{
    font-size: 15px;
    color:rgb(230, 0, 0);
    margin-right: 5px;
}
#skbook .skbook .skbook_content .skbook_content_c>li>div>span:last-child{
    font-size: 12px;
    color:rgb(153, 153, 153);
    text-decoration: line-through;
}
/* 右边的内容 */
#skbook .skbook .skbook_content .skbook_content_r{
    width: 230px;
    box-sizing: border-box;
}
#skbook .skbook .skbook_content .skbook_content_r .skbook_content_r1>a{
    display:block;
    border:1px solid rgb(230, 230, 230);
    border-bottom:0 none;
    color:rgb(51, 51, 51);
    line-height: 32px;
}
#skbook .skbook .skbook_content .skbook_content_r .skbook_content_r1>a:last-child{
    border-bottom:1px solid rgb(230, 230, 230);
}
#skbook .skbook .skbook_content .skbook_content_r .skbook_content_r1>a>img{
    width: 228px;
    height: 90px;
    display: block;
}
/* 下面的图片 */
#skbook .skbook .skbook_content .skbook_content_r>a{
    display: block;
    margin-top: 10px;
}
#skbook .skbook .skbook_content .skbook_content_r>a>img{
    width: 230px;
    height: 190px;
}
/* ============================= */
/* ========================== */
/* 少儿图书区域 */
#sebook{
    background:white;
}
/* 标题导航区 */
#sebook .sebook .sebook_ban{
    background:rgb(245, 245, 245);
    margin-top:20px;
}
/* 标题 */
#sebook .sebook .sebook_ban>a{
    box-sizing: border-box;
    width: 210px;
    display: block;
    line-height: 55px;
    background: rgb(252, 101, 182);
    font-size: 22px;
    color:white;
    font-weight: 900;
    padding-left: 20px;
}
/* 导航区 */
#sebook .sebook .sebook_ban>ul>li{
    float:left;
    padding:0 22px;
}
#sebook .sebook .sebook_ban>ul>li>a{
    font-size: 15px;
    display: block;
    color:rgb(51, 51, 51);
    padding-top: 18px;
}
#sebook .sebook .sebook_ban>ul>li:hover>a{
    border-top: 3px solid rgb(252, 101, 182);
    color:rgb(252, 101, 182);
    padding-top: 15px;
}
/* 内容区域 */
/* 左边的内容区域 */
#sebook .sebook .sebook_content{
    margin-top: 10px;
}
#sebook .sebook .sebook_content .sebook_content_l{
    box-sizing: border-box;
    width: 210px;
    background:rgb(255, 235, 211);
}
#sebook .sebook .sebook_content .sebook_content_l>a{
    display: block;
}
#sebook .sebook .sebook_content .sebook_content_l>a>img{
    width: 210px;
    height: 335px;
}
/* 益智启蒙畅销榜 */
#sebook .sebook .sebook_content .sebook_content_l>div{
    padding:15px;
}
#sebook .sebook .sebook_content .sebook_content_l>div>p{
    font-size: 14px;
    color:rgb(252, 101, 182);
    line-height: 32px;
}
#sebook .sebook .sebook_content .sebook_content_l>div>a{
    display: block;
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 25px;
}
#sebook .sebook .sebook_content .sebook_content_l>div>a:hover{
    color:rgb(252, 101, 182);
}
/* 中间的内容 */
#sebook .sebook .sebook_content .sebook_content_c{
    width: 740px;
    box-sizing: border-box;
    margin-left: 10px;
}
#sebook .sebook .sebook_content .sebook_content_c>li{
    float: left;
    width: 185px;
    padding-bottom:20px;
    margin-top:10px;
}
#sebook .sebook .sebook_content .sebook_content_c>li>a{
    display: block;
}
#sebook .sebook .sebook_content .sebook_content_c>li>a>img{
    width: 115px;
    height: 158px;
    margin-left: 30px;
}
#sebook .sebook .sebook_content .sebook_content_c>li>a:first-child+a{
    font-size: 12px;
    padding-left: 28px;
    color:rgb(51, 51, 51);
    line-height: 26px;
}
#sebook .sebook .sebook_content .sebook_content_c>li>a:first-child+a:hover{
    color:rgb(230, 0, 0);
}
/* 作者 */
#sebook .sebook .sebook_content .sebook_content_c>li>p{
    font-size: 12px;
    color:#666;
    padding-left: 28px;
    line-height: 20px;
}
/* 价格 */
#sebook .sebook .sebook_content .sebook_content_c>li>div{
    padding-left: 28px;
    line-height: 27px;
}
#sebook .sebook .sebook_content .sebook_content_c>li>div>span:first-child{
    font-size: 15px;
    color:rgb(230, 0, 0);
    margin-right: 5px;
}
#sebook .sebook .sebook_content .sebook_content_c>li>div>span:last-child{
    font-size: 12px;
    color:rgb(153, 153, 153);
    text-decoration: line-through;
}
/* 右边的内容 */
#sebook .sebook .sebook_content .sebook_content_r{
    width: 230px;
    box-sizing: border-box;
}
#sebook .sebook .sebook_content .sebook_content_r .sebook_content_r1>a{
    display:block;
    border:1px solid rgb(230, 230, 230);
    border-bottom:0 none;
    color:rgb(51, 51, 51);
    line-height: 32px;
}
#sebook .sebook .sebook_content .sebook_content_r .sebook_content_r1>a:last-child{
    border-bottom:1px solid rgb(230, 230, 230);
}
#sebook .sebook .sebook_content .sebook_content_r .sebook_content_r1>a>img{
    width: 228px;
    height: 90px;
    display: block;
}
/* 下面的图片 */
#sebook .sebook .sebook_content .sebook_content_r>a{
    display: block;
    margin-top: 10px;
}
#sebook .sebook .sebook_content .sebook_content_r>a>img{
    width: 230px;
    height: 190px;
}
/* ============================= */