
/* 导航区域 */
#nav{
    background: rgb(255, 255, 255);
    border-bottom:3px solid rgb(230, 0, 0);
}
/* 左边的导航 */
#nav .nav_l{
    width: 200px;
    font-size: 16px;
    line-height: 40px;
    background: rgb(230, 0, 0);
    color:rgb(255, 255, 255);
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
}
#nav .nav_l:hover .nav_class{
    display: block;
}
#nav .nav_l>span{
    margin:0 50px 0 10px;
}
#nav .nav_l .nav_class{
    box-sizing: border-box;
    width: 200px;
    border:1px solid rgb(230, 0, 0);
    position:absolute;
    background: white;
    left:0px;
    top: 40px;
    display:none;
}
/* 左边导航分类区域共同样式 */
#nav .nav_l .nav_class>div{
    padding:0 10px 5px 10px;
    border-bottom:1px solid rgb(255, 211, 212);
    position: relative;
}
#nav .nav_l .nav_class>div:hover>p>i{
    color:rgb(240, 130, 0);
}
/* 隐藏的div */
#nav .nav_l .nav_class>div>div{
    width: 760px;
    box-sizing: border-box;
    padding:15px;
    border:3px solid rgb(230, 0, 0);
    display: none;
    background: white;
    z-index: 99;
}
/* ====================== */
#nav .nav_l .nav_class>a{
    color:rgb(102, 102, 102);
    font-size: 12px;
    line-height: 22px;
}
#nav .nav_l .nav_class>a:hover{
    text-decoration: underline;
}
/* =============== */
#nav .nav_l .nav_class>div>p{
    line-height: 38px;
}
#nav .nav_l .nav_class>div>p>a{
    color:rgb(230, 0, 0);
}
#nav .nav_l .nav_class>div>p>a:hover{
    text-decoration: underline;
}
#nav .nav_l .nav_class>div>p>i{
    color:rgb(102, 126, 181);
    font-size: 12px;
}
/* ================== */
#nav .nav_l .nav_class>div>a{
    margin-right: 17px;
    font-size: 12px;
    color:#666;
    float: left;
    line-height: 25px;
}
#nav .nav_l .nav_class>div>a:hover{
    color:rgb(230, 0, 0);
}
/* ================= */
/* 取消最后一个div的下边框 */
#nav .nav_l .nav_class>div.nav_wj{
    border-bottom:0 none;
}
/* =============== */
#nav .nav_l .nav_class>div:hover{
    border:2px solid rgb(230, 0, 0);
    padding:0px 8px 4px;
    margin-top: -2px;
}
/* ========================================= */
/* 文学类的隐藏div */
#nav .nav_l .nav_class .nav_wx:hover .nav_wxshow{
    display: block;
}
#nav .nav_l .nav_class .nav_wx .nav_wxshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-1px;
}
#nav .nav_l .nav_class .nav_wx .nav_wxshow:before{
    content:"";
    width: 4px;
    height: 112.5px;
    background: white;
    position: absolute;
    top:0.5px;
    left:-4px;
}
/* 社科类的隐藏div */
#nav .nav_l .nav_class .nav_sk:hover .nav_skshow{
    display: block;
}
#nav .nav_l .nav_class .nav_sk .nav_skshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-119px;
}
#nav .nav_l .nav_class .nav_sk .nav_skshow:before{
    content:"";
    width: 4px;
    height: 140px;
    background: white;
    position: absolute;
    top:116.5px;
    left:-4px;
}
/* 少儿类的隐藏div */
#nav .nav_l .nav_class .nav_se:hover .nav_seshow{
    display: block;
}
#nav .nav_l .nav_class .nav_se .nav_seshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-13px;
}
#nav .nav_l .nav_class .nav_se .nav_seshow:before{
    content:"";
    width: 4px;
    height: 114.5px;
    background: white;
    position: absolute;
    top:10.5px;
    left:-4px;
}
/* 艺术类的隐藏div */
#nav .nav_l .nav_class .nav_ys:hover .nav_ysshow{
    display: block;
}
#nav .nav_l .nav_class .nav_ys .nav_ysshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-60px;
}
#nav .nav_l .nav_class .nav_ys .nav_ysshow:before{
    content:"";
    width: 4px;
    height: 90.5px;
    background: white;
    position: absolute;
    top:57.5px;
    left:-4px;
}
/* 生活类的隐藏div */
#nav .nav_l .nav_class .nav_sh:hover .nav_shshow{
    display: block;
}
#nav .nav_l .nav_class .nav_sh .nav_shshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-28px;
}
#nav .nav_l .nav_class .nav_sh .nav_shshow:before{
    content:"";
    width: 4px;
    height: 90px;
    background: white;
    position: absolute;
    top:25.5px;
    left:-4px;
}
/* 文教类的隐藏div */
#nav .nav_l .nav_class .nav_wj:hover .nav_wjshow{
    display: block;
}
#nav .nav_l .nav_class .nav_wj .nav_wjshow{
    padding:10px 20px 10px 10px;
    position: absolute;
    left:194px;
    top:-78px;
}
#nav .nav_l .nav_class .nav_wj .nav_wjshow:before{
    content:"";
    width: 4px;
    height: 90.5px;
    background: white;
    position: absolute;
    top:75.5px;
    left:-4px;
}
/* ======================================== */
/* 第一个、第二个、第三个 */
#nav .nav_l .nav_class>div>div>div .lef>a{
    font-size: 10px;
    color:rgb(230, 0, 0);
    font-weight: 600;
}
#nav .nav_l .nav_class>div>div>div .righ>a{
    font-size: 12px;
    color:rgb(102, 102, 102);
    margin:0 20px;
}
/* ========== */
/* 隐藏div里的最大儿子 */
#nav .nav_l .nav_class>div>div>div{
    border-bottom:1px solid rgb(240, 240, 240);
}
#nav .nav_l .nav_class>div>div>div:last-child{
    border-bottom:0 none;
}
/* =========== */
#nav .nav_l .nav_class>div>div>div>div:first-child{
    width: 70px;
}
#nav .nav_l .nav_class>div>div>div>div:first-child>a{
    float: left;
    line-height: 23px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child{
    width: 654px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child>a{
    float: left;
    line-height: 23px;
}
#nav .nav_l .nav_class>div>div>div>div:last-child>a:hover{
    color:rgb(230, 0, 0);
}
/* 右边的导航 */
#nav .nav_r>li{
    float: left;
    margin:0 25px;
}
#nav .nav_r>li:nth-of-type(5)>a{
    color:rgb(230, 0, 0);
}
#nav .nav_r>li>a{
    vertical-align: middle;
    color:rgb(51, 51, 51);
    line-height: 40px;
    font-weight: 600;
    font-size: 18px;
}
#nav .nav_r>li>a:hover{
    color:rgb(230, 0, 0);
}
#nav .nav_r>li>a>img{
    margin-right: 5px;
}
/* 图书网、包邮图书转换区域 */
#trans .trans{
    font-size: 12px;
    color:rgb(102, 102, 102);
    line-height: 40px;
}
#trans .trans>a{
    color:rgb(102, 102, 102);
    margin-right: 5px;
}
#trans .trans>span{
    color:rgb(230,0,0);
    margin-left:5px;
}
/* 渲染列表区域 */
#render .render{
    margin-top:20px;
    margin-bottom:70px;
    position: relative;
}
#render .render>span{
    display: block;
    float: left;
    margin-right:10px;
    border:1px solid grey;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
#render .render>span.active{
    background: orange;
}
#render .render .render_r>li{
    float:left;
    box-sizing: border-box;
    width: 285px;
    border:6px solid rgb(238, 238, 238);
    margin:15px 15px 0 0;
    padding:17px;
}
#render .render .render_r>li:hover{
    border:6px solid rgb(255, 197, 197);
}
#render .render .render_r>li .a_img{
    margin-left:48px;
    width:140px;
    display: block;
}
#render .render .render_r>li .a_img>img{
    width: 140px;
    height:200px;
}
/* 书名 */
#render .render .render_r>li .a_name{
    display:inline-block;
    font-size: 14px;
    color:#333;
    font-weight: 900;
    line-height: 35px;
}
#render .render .render_r>li .a_name:hover{
    color:rgb(230, 0, 0);
}
/* 作者 */
#render .render .render_r>li>p{
    font-size: 12px;
    color:#666;
}
/* 价格 */
#render .render .render_r>li>div{
    margin-top:5px;
}
#render .render .render_r>li>div>span{
    font-size: 18px;
    color:rgb(234, 0, 0);
    margin-top: 5px;
}
#render .render .render_r>li>div>span:first-child{
    color:rgb(234, 0, 0);
    font-size: 24px;
    margin-right:4px;
    margin-top: 0;
}
#render .render .render_r>li>div>span:last-child{
    font-size: 14px;
    color:#333;
}
/* 购买按钮 */
#render .render .render_r>li>button{
    display:block;
    width: 100%;
    height: 36px;
    background: rgb(230, 0, 0);
    margin-top:7px;
    font-size: 18px;
    color:white;
    font-weight: 900;
    cursor: pointer;
    border-radius:6px;
}
#render .render .render_r>li>button:hover{
    background: rgb(255, 37, 37);    
}
/* 本站常销区域 */
#site .site{
    margin-top:20px;
}
#site .site>h2{
    font-size: 22px;
    color:#333;
    padding-left:16px;
    line-height: 47px;
    box-sizing: border-box;
    background: rgb(225, 247, 255);
    border-bottom:3px solid rgb(7, 186, 253);
    margin-bottom:15px;
}
/* 商品部分 */
#site .site>ul>li{
    width: 190px;
    box-sizing: border-box;
    float:left;
    margin:0 5px 30px 5px;
    padding:5px 2px;
}
#site .site>ul>li:hover{
    border:2px solid rgb(245, 245, 245);
    padding:3px 0; 
}
#site .site>ul>li>a.a_pic{
    display:block;
}
#site .site>ul>li>a.a_pic>img{
    width: 127px;
    height: 158px;
    margin-left:28px;
}
#site .site>ul>li>a:nth-of-type(2){
    font-size: 12px;
    color:#333;
    line-height: 30px;
    padding-left: 18px;
}
#site .site>ul>li>a:nth-of-type(2):hover{
    color:rgb(230, 0, 0);
}
#site .site>ul>li>p{
    font-size: 12px;
    color:#666;
    padding-left: 18px;
}
#site .site>ul>li>div{
    padding-left: 18px;
    line-height: 27px;
}
#site .site>ul>li>div>span:first-child{
    color:rgb(232, 0, 0);
    font-size: 15px;
    margin-right: 4px;
}
#site .site>ul>li>div>span:last-child{
    font-size: 12px;
    color:rgb(153, 153, 166);
    margin-top:1px;
}
#site .site>ul>li>button{
    display:block;
    width: 156px;
    margin:4px auto;
    line-height: 26px;
    background: rgb(225, 247, 255);
    cursor: pointer;
    color:#666;
    font-size: 12px;
}
#site .site>ul>li>button:hover{
    width: 110px;
    color:white;
    background: rgb(230,0,0);
}
/* 尾部 */
#foot1{
    background:rgb(245, 245, 245);
}
#foot1 .foot1{
    margin-top: 30px;
}
#foot1 .foot1>a{
    display: block;
}
#foot1 .foot1>a>img{
    width: 1200px;
}
/* 底部2 */
#foot2{
    background:white;
}
#foot2 .foot2>a{
    display: block;
}
#foot2 .foot2>a>img{
    width: 1200px;
}